body {
  background-color: rgb(197, 143, 248);
}

#main {
  position: absolute;
  top: 250px;
  left: 1050px;
}


#main a {
  margin-top: 10px;
  display: block;
}

#img1 {
  position: absolute;
  top: 375px;
  left: 950px;
  object-fit: cover; 
}

#snixels {
  position: absolute;
  top: 350px;
  left: 250px;
  object-fit: cover; 
}

#icgp {
  position: absolute;
  top: 20px;
  left: 650px;
  object-fit: cover; 
}

#logo {
  position: absolute;
  top: 150px;
  left: 40px;
}

#logo #logo-text {
  position: absolute;
  top: 28px;
  left: 0px;
}

#guestbook {
  position: absolute;
  top: 600px;
  left: 765px;
}
