body {
  background-color: rgb(197, 143, 248);
}

#main {
  position: absolute;
  top: 200px;
  left: 500px
}

#img1 {
  position: absolute;
  top: 375px;
  left: 950px;
  object-fit: cover; 
}

#snixels {
  position: absolute;
  top: 350px;
  left: 250px;
  object-fit: cover; 
}

#icgp {
  position: absolute;
  top: 0px;
  left: 650px;
  object-fit: cover; 
}

#main a {
  margin-top: 10px;
  display: block;
}